{% extends "account/base.html" %}
{% load static %}


{% block content %}
<main>
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row">
    
    <div class="col-sm-0">
      <img src="{% static 'img/upload_img.png' %}">
    </div>

    <div class="col form_box">
      <div class="form_heading">
        <h1>We want your content!</h1>
      </div>
      <div class="form_heading_text">
        <p>Create new unit folder</p>
      </div>
      <form role="create" action="{% url 'create_unit' %}" method="POST">
        <div class="form-group">
          <label for="name"></label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Unit name eg. COM320: Digital System Design">
        </div>
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Create folder</button>

      </form>

    </div>
    
  </div>
</main>
  

{% endblock %}