{% extends "account/base.html" %}
{% load static %}
{% load i18n %}


{% block head_links %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}


{% block content %}

<form action="{% url 'account_signup' %}" method="post" id="frm">
    <fieldset id="fld">
		<legend>Signup</legend>
		
		{% csrf_token %} {% for field in form %}
		<label for="{{ field.field.field.widget.input_type }}"></label>
		<input id="{{ field.id_for_label }}" class="input" placeholder="{{field.label|title}}" 
			type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" autocomplete="off"> 
			{% if field.field.widget.input_type == 'checkbox' %}
			{{field.label}}
			{% endif %}
			<br><br>
		{{ field.errors }} {% endfor %}

		{% if redirect_field_value %}
		<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
		{% endif %}
        <input type="submit" value="Signup" class="btn"></button>
        
        <br> <br>

        <p class="text-center" id="signup">- or -</p>
        
        {% load account socialaccount %}

        {% get_providers as socialaccount_providers %}

        {% for provider in socialaccount_providers %}
        <button class="btn-primary"> 
            <i class="fa fa-{{provider.name|lower}}" id="social_icon"></i>
            <a class="text-light" title="{{provider.name}}" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
                 Connect with {{provider.name}}
            </a>
        </button>
        {% endfor %}

        <br><br>
        Do you already have an account? <a href="{% url 'account_login' %}">Login</a><br><br><br>
    </fieldset>
</form>
{% endblock %}